<h1>
  Обновлена задача: "{{ task.title }}"# {{ task.id }}
</h1>

<div>
  <p>
    Описание: {{ task.description }}
  </p>

  <a href="{{env.MAIL_FRONT_HOST}}/task/{{task.id}}">
    Перейти к задаче
  </a>

  {{#if task.deadline}}
  <p>
    Срок сдачи: {{ task.deadline }}
  </p>
  {{/if}}
</div>
